<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="RequestDispatchURL" value="http://localhost:8888/book" />
    <add key="ResponseDispatchURL" value="http://localhost:8890/response" />
  </appSettings>
</configuration>
